extends ../layout

block content
    a(href="/usuarios/create") Agregar usuario
    
    br
    br

    table.table
        thead
            tr
                th(scope='col') ID
                th(scope='col') Email
                th(scope='col') Nombre
                th(scope='col') Password
                th(scope='col') Verificado
                th(scope='col') 
                th(scope='col') 
        tbody
            each usuario in usuarios
                tr
                    th(scope='row')=usuario._id
                    td=usuario.email
                    td=usuario.nombre
                    td=usuario.password
                    td=usuario.verificado? 'SI' : 'NO'
                    td
                        a(href=`/usuarios/${usuario._id}/update`) Editar
                    td
                        form.inline(method="post" action="/usuarios/"+ usuario._id + "/delete")
                            input(type="hidden" name="_id" value=usuario._id)
                            button.link-button(type="submit" name="submit" value="submit_value" class="btn")= "Eliminar"