extends ../layout 

block content
    a(href="/usuarios") Volver

    br
    br
    br

    h1 Actualizar usuario

    br
    br

    form(action=`/usuarios/${usuario._id}/update` method="post")
        .form-group
            label(for="nombre") Nombre: 
            input(type="text" name="nombre" value=usuario.nombre class=errors.nombre ? 'is invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        .form-group
            label(for="email") Email: 
            input(type="text" name="email" disabled value=usuario.email class=errors.email ? 'is invalid' : '')
            if errors.email
                small#nombreHelp.text-danger
                    = errors.email.message
        .form-group
            label(for="password") Password: 
            input(type="password" name="password" disabled value=usuario.password class=errors.password ? 'is invalid' : '')
            if errors.password
                small#nombreHelp.text-danger
                    = errors.password.message
        br
        br
        input.btn.btn-primary(type="submit" value="OK")