extends ../layout 

block content
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Nueva bicicleta

    br
    br

    form(action="/bicicletas/create" method="post")
        label(for="code") CODE: 
        input(type="number" name="code")
        br
        label(for="color") Color: 
        input(type="text" name="color")
        br
        label(for="modelo") Modelo: 
        input(type="text" name="modelo")
        br
        label(for="latitud") Latitud: 
        input(type="text" name="lat")
        br
        label(for="longitud") Longitud: 
        input(type="text" name="lng")
        br
        br
        input.btn(type="submit" value="OK")