extends ../layout

block content
    a(href="/bicicletas/create") Agregar bicicleta
    table.table
        thead
            tr
                th(scope='col') code
                th(scope='col') color
                th(scope='col') modelo
                th(scope='col') ubicacion
                th(scope='col') 
                th(scope='col') 
        tbody
            each bici in bicis
                tr
                    th(scope='row')=bici.code
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
                    td
                        a(href=`/bicicletas/${bici.code}/update`) Editar
                    td
                        form.inline(method="post" action="/bicicletas/"+ bici.code + "/delete")
                            input(type="hidden" name="code" value=bici.code)
                            button.link-button(type="submit" name="submit" value="submit_value" class="btn")= "Eliminar"