extends ../layout 

block content
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Modificar bicicleta

    br
    br

    form(action=`/bicicletas/${bici.code}/update` method="post")
        label(for="code") CODE: 
        input(type="text" name="code" value=bici.code)
        br
        label(for="color") Color: 
        input(type="text" name="color" value=bici.color)
        br
        label(for="modelo") Modelo: 
        input(type="text" name="modelo" value=bici.modelo)
        br
        label(for="latitud") Latitud: 
        input(type="text" name="lat" value=bici.ubicacion[0])
        br
        label(for="longitud") Longitud: 
        input(type="text" name="lng" value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value="OK")